[submodule "rfduino-makefile"]
	path = rfduino-build/rfduino-makefile
	url = git://github.com/akinaru/rfduino-makefile.git
[submodule "rfdroid/discreteSeekBar"]
	path = rfdroid/discreteSeekBar
	url = git://github.com/akinaru/discreteSeekBar.git
